<center>

<button><a href="/create_prog_lang/">Добавить</a></button>

<br><br>
<form method="get" action="{% url 'yaziki:search_prog_lang' %}">
    <input type="text" name="s" value="{{ s|default:'' }}" placeholder="Поиск...">
    <button type="submit">Найти</button>
</form>

{% for i in prog_lang %}
<img src="{{ i.image.url }}" alt="" width="300" height="400">
<h1>{{ i.title }}</h1>
<p> <a href="/prog_lang/{{ i.id }}/">Подробнее</a></p>

<p> <a href="/prog_lang/{{ i.id }}/delete/">Удалить</a> </p>
<p> <a href="/prog_lang/{{ i.id }}/update/">Редактировать</a> </p>
{% endfor %}

<form action="/login/" method="post">
    {%  csrf_token  %}
    <button type="submit">Выйти из аккаунта</button>
</form>
</center>